<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42603667576-ee5ac3o3hcqint9oqabfiv4ogj1l8gu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42603667576-ee5ac3o3hcqint9oqabfiv4ogj1l8gu0</string>
	<key>API_KEY</key>
	<string>AIzaSyDYFyYvxwoO6ASYU1UpZC_cZPmcPKv-10Q</string>
	<key>GCM_SENDER_ID</key>
	<string>42603667576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noorahealth.viruswarrior</string>
	<key>PROJECT_ID</key>
	<string>gocoronanoorahealth</string>
	<key>STORAGE_BUCKET</key>
	<string>gocoronanoorahealth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42603667576:ios:91ca42fcc6023caadbcd8d</string>
	<key>DATABASE_URL</key>
	<string>https://gocoronanoorahealth.firebaseio.com</string>
</dict>
</plist>